*{
    transition: all 400ms;
}
.hero {
    background-image: url("images/vin.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: #fff;
}
.hero-text{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --color: rgb(96, 165, 250);
}
h1{
    margin-left: -30px;
    position: absolute;
    top: 200px;
    font-size: 40px;
    color: rgb(239, 228, 248);
    margin-bottom: 18px;
}
input{
    font-size: 15px;
    height: 35px;
    position: relative;
    width: 300px;
    border: solid black 2px;
}

#sub{
    border-radius: 4px;
    border: none;
    margin: 0;
    padding: 2;
    height: 30px;
    width: 100px;
    background-color: var(--color);
}
#sub:hover{
    cursor: pointer;
    --color: rgb(28, 97, 183);
    background-color: var(--color);
    color: white;
}

