.sign:hover {
    background-color: blue;
    color: white;
}
.sign {
    margin-top: 40px;
    width: 80px;
    margin-left: 80px;
    border: none;
    background-color: rgb(96, 165, 250);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.form {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
.ribon {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(96, 165, 250);
    height: 80px;
    width: 70%;
}
.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ribon h1 {
    text-align: center;
    padding-top: 20px;
}
.main {
    background-color: rgb(227, 222, 222);
    width: 70%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
}
label {
    margin-top: 10px;
    font-size: 15px;
    color: rgb(170, 163, 153);
}
input {
    background-color: transparent;
    border: none;
    border-bottom: solid black 2px;
    width: 300px;
    height: 25px;
    margin-right: 20px;
}
